h4 {
  color: #36b8f8;
}

.nav-link {
  font-size: 1.1em;
}

.nav-item {
  padding-right: 15px;
}

.bg-primary {
  background-color: #96cafa;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
